:host
  display flex
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

nz-header
  background #0b3d92
  text-align center

  &>h1
    color #fff
    margin-top 10px

.inner-content
  padding 24px
  background #fff
  height 100%

nz-footer
  text-align center
